<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/crud.css" />
</head>

<body>
    <section>
        <div class="section__wrapper">
            <div class="section__wrapper__side1 overflow">
                <div class="section__wrapper__side1__left float width65">
                    <div class="section__wrapper__side1__left__input">
                        <input type="text" placeholder="Type Please:" class="section__wrapper__side1__left__input__inpt" value="" />
                    </div>
                </div>
                <div class="section__wrapper__side1__right float width35">
                    <button class="section__wrapper__side1__right__btncreate">
              Create
            </button>
                </div>
            </div>
            <div class="section__wrapper__side2 overflow"></div>
        </div>
    </section>
    <script src="../static/js/crud.js"></script>
</body>

</html>